:root {
  color-scheme: only light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #fefefe;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}
